.te-toolbar {
  position: fixed;
  right: 0;
  top: 2em;
  margin: 0.3em;
  padding: 0.3em 0.7em;
  border: 1px solid grey;
  background: #eee;
  text-align: left;
}

.te-no-tools {
  color: #666;
  font-size: 0.8em;
}

.te-toolbar footer {
  display: block;
  color: black;
  font-family: monospace;
  text-align: left;
}

.te-btn {
  border: none;
  background: lightgrey;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  margin: 0.2ch;
  width: 2.5ch;
  padding: 0.2ch 0;
  cursor: pointer;
}

[contenteditable]:focus {
  outline: 2px dotted currentColor;
}
